<center>
 <br> <br>
    <img src="IMG_20220706_181320_306.jpg" alt="" width="300px">
      <h1>Lena cahyani</h1>
      <br>
      <p>Website ini sebagian dari ujian praktik pbo <br>
      dibuat menggunakan MERN (mongoose express <br> nodejs dan ejs)</p> <br>
      <div class="box3">
        <h1 align="center">About Creator</h1>
        <div class="box4">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
             Mollitia tenetur veritatis numquam porro perferendis. <br> 
             Provident beatae blanditiis architecto dolore quibusdam <br>
            laudantium a aliquid quae debitis recusandae obcaecati officia, <br>
             fugiat dolorem!</p>
        </div>
      </div>
    </center>
      <footer>
        <img src="Lo-removebg-preview.png" alt="" width="100px" />
        <p>Scorpio@gmail.com</p>
        <p>0831923456</p>
        <div class="icon">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
        <script src="https://kit.fontawesome.com/8c8e800635.js" crossorigin="anonymous"></script>
      </footer>
      
