<div class="teks">
    <h1>PT. Scorpio!</h1>
    <br />
    <p>
      PT. Scorpio Indonesia, adalah wadah bagi <br />anak-anak muda
      Indonesia yang ingin ber- <br />kembang, menyalurkan minat dan bakat-
      <br />nya, serta berkontribusi terhadap<br />
      perkembangan dan implementasi <br />
      teknologi di Indonesia.
    </p>
    <img src="Background.webp" alt="" width="350px" />
  </div>
  <div class="navbar">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit,sed do eiusmod
      tempor incididunt ut labore et <br />
      dolore magma aliqia.Ut enim ad minim vemiam, quis nostrud exercitation
      ullacmco laboris nisi ut aliquid ex <br />
      ea commodo consequat
    </p>
    <button><b> Learn More</b></button>
  </div>
  <footer>
    <div class="sosmed">
      <img src="Lo-removebg-preview.png" alt="" width="100px" />
      <p>Scorpio@gmail.com</p>
      <p>0831923456</p>
    </div>
    <div class="icon">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
    <script src="https://kit.fontawesome.com/8c8e800635.js" crossorigin="anonymous"></script>
  </footer>
  


