*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}
.teks{
margin-left: 150px;
margin-top: 150px;
font-size: 20px;
margin-bottom: 50px;
}
.teks img{
    margin-left: 60%;
    margin-top: -250px;
}
.navbar{
    background-color: #8f6dde75;
   height: 200px;
   width: 100%;
   color: black;
}
.navbar p{
    margin-left: 145px;
    font-size: 20px;
    padding-top: 30px;
}
.navbar button{
    width: 100px;
    height: 35px;
    margin-left: 140px;
    margin-top: 30px;
    background-color: rgb(243, 238, 238);
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
footer{
    background-color: #16003b74;
   height: 150px;
   width: 100%;
   color: aliceblue;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
footer img{
    margin-top: 10px;
    margin-left: 120px;
}
footer p{
    margin-top: 10px;
    margin-left: 150px;
}
.icon {
    margin-right: 100px;
}
.icon i{
    font-size: 35px;
    margin-right: 25px;
}

